/* fuentes */

@font-face {
  font-family: "mark-bold";
  src: local("mark-bold"), url("../assets/fonts/mark-bold.ttf");
  font-display: swap;
}

:root {
  --black-100: #000;
  --white-100: #fff;
  --blue-100: #181733;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--blue-100);
  font-family: "Segoe UI", sans-serif;
  color: var(--white-100);
}

.header_navegation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--blue-100);
}

.links_container,
.secondary_navegation {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-family: 'mark-bold', Arial, sans-serif;
}

.links_container li a:hover {
  text-decoration: underline;
}

.logo_pag {
  width: 1.5em;
  vertical-align: middle;
}

.search_icon {
  width: 1em;
  vertical-align: middle;
}

.secondary_header {
  background-color: var(--white-100);
  padding: 1.25rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: hidden; 
}

.secondary_header_nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-family: 'mark-bold', Arial, sans-serif;
}

.secondary_header_nav ul li a {
  color: var(--blue-100);
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.secondary_header_nav ul li a:hover {
  color: var(--blue-100);
}

.club_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em; 
  margin-right: 1px; 
  margin-left: 1px; 
}

.featured_container {
  display: flex;
  gap: 3rem;
  padding: 3rem;
  font-family: 'mark-bold', Arial, sans-serif;
}

.upcoming_matches {
  background-color: var(--white-100); 
  border-radius: 1rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 1rem; 
  display: flex;
  flex-direction: column;
}

.upcoming_matches_header {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 1rem; 
  margin-bottom: 1.25rem; 
  text-align: center;
  width: auto;
}

.upcoming_matches_header img.logo_pag {
  width: 1.5em;
  height: auto;
}

.upcoming_matches_header h2 {
  font-size: 1.1rem;
  color: var(--blue-100);
}

.match_card {
  padding: 1rem; 
  color: var(--blue-100);
  font-family: 'mark-bold', Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.match_card:last-child {
  border-bottom: none; 
}

.match_teams {
  font-weight: bold; 
  font-size: 1.1rem;
  margin-bottom: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 5px; 
}

.match_details {
  font-size: 1rem;
}

.featured_news {
  display: flex;
  flex: 1;
}

.featured_card_group {
  display: flex;
  flex-direction: column;
  flex: 0 0 35%;
  gap: 1rem;
}

.featured_card.small,
.featured_card.small-below {
  max-width: 100%; 
  padding-left: 3rem;
}

.featured_card img {
  width: 100%; 
  height: auto;
  aspect-ratio: 16 / 9; 
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease; 

}

.featured_card img:hover {
  transform: scale(1.02); 
}

.featured_card.small img,
.featured_card.small-below img {
  height: 250px;
  object-fit: cover;
}

.featured_card h2,
.featured_card h3,
.featured_card-paragraph {
  margin: 10px 0;
  padding: 0;
  background: none; 
  color: var(--white-100);
  text-align: left; 
  width: 100%; 
}

.scrolling_text_container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex; 
  align-items: center; 
  height: 50px; 
}

.scrolling_text {
  display: flex;
  position: relative; 
  white-space: nowrap;
  will-change: transform; 
}

.scrolling_text li {
  display: flex;
  gap: 5px;
  margin-right: 2rem; 
  white-space: nowrap; 
}

.footer_container {
  padding-top: 5px;
  background-color: var(--white-100);
  color: var(--blue-100);
  font-family: 'mark-bold', Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 1.2rem; 
  padding: 1.2rem; 
}

.social_icon {
  fill: var(--blue-100);
  height: 1.2rem;
  width: auto;
}

.social_media img:hover {
  transform: scale(1.5); 
}